@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/AssessmentScripts/CompanyDetailsController.js"></script>
<style>
    th, td,tr {
    padding: 15px;
    text-align: left;
}
</style>


<div ng-controller="CompanyDetailsController" class="body-content">
    <pre>
        Company with Least Women to Men Ratio : {{companyName}}
    </pre>

    <div>
        List of Companies with more employees in 2017:
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Difference</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="company in companyList">
                    <td>{{company.CompanyName}}</td>
                    <td>{{company.DifferenceInEmployees}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <div class="form-group">
            <label for="searchBox">Search Box</label>
            <input type="text" class="form-control" ng-model="searchText" id="searchBox" placeholder="search here">
        </div>
    </div>
    <div>
        <table id="projectTable" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Company Name</th>
                    <th>Male Employees</th>
                    <th>Female Employees</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projectList | filter : searchText">
                    <td>{{project.ProjectName}}</td>
                    <td>{{project.CompanyName}}</td>
                    <td>{{project.M_Employees}}</td>
                    <td>{{project.W_Employees}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>