@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/AssessmentScripts/CompanyDetailsController.js"></script>
<style>
    th, td,tr {
    padding: 15px;
    text-align: left;
}
</style>


<div ng-controller="CompanyDetailsController" class="body-content">
    <div>
        Company with Least Women to Men Ratio : {{companyName}}
    </div>

    <div>
        List of Companies with more employees in 2017:
    </div>
    <div>
        <table class="table-bordered">
            <thead>
                <tr>Company Name</tr>
                <tr>Difference</tr>
            </thead>
            <tbody>
                <tr ng-repeat="company in companyList">
                    <td>{{company.CompanyName}}</td>
                    <td>{{company.DifferenceInEmployees}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        Search Box: <input type="text" ng-model="searchText" />
    </div>
    <div>
        <table class="table-bordered">
            <thead>
                <tr>Project Name</tr>
                <tr>Company Name</tr>
                <tr>Male Employees</tr>
                <tr>Female Employees</tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projectList | filter : searchText">
                    <td>{{project.ProjectName}}</td>
                    <td>{{project.CompanyName}}</td>
                    <td>{{project.M_Employees}}</td>
                    <td>{{project.W_Employees}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>